$colors: (
    'common-px': (
        'white': #FFFFFF,
        'black': #0A0A0A,
        'black-2': #1E1E1E,
        'red': #E11010,
        'orange': #FF471D,
        'orange-dark': #FF572D,
    ),
    'grey-px': (
        '1':#F6F7F9,
    ),
    'text-px': (
        'body':#6D6868,
    ),
    'theme-px': (
        '1': #FF5E00,
    ),
    'border-px': (
        '1': #EAEBED,
    )
);