@use '../utils' as *;

/*----------------------------------------*/
/*  2.7 Accordion
/*----------------------------------------*/

.px-service{
    &-accordion{
        &-wrap{
            & .accordion{
                & .accordion-items{
                    position: relative;
                    &:not(:last-child){
                        border-bottom: 1px solid rgba(254, 255, 248, 0.08);
                    }
                    & .accordion-header{
                        & .accordion-buttons{
                            text-align: start;
                            font-weight: 600;
                            font-size: 30px;
                            line-height: 1;
                            padding: 24px 0;
                            cursor: pointer;
                            letter-spacing: -0.03em;
                            color: var(--tp-common-px-white);
                            @media #{$xl}{
                                font-size: 25px;
                            }
                            @media #{$lg}{
                                font-size: 22px;
                            }
                            @media #{$md}{
                                font-size: 23px;
                            }
                            @media #{$xs}{
                                font-size: 22px;
                            }
                            &:not(.collapsed) .accordion-icon::before {
                                transform: translate(-50%, -50%) rotate(90deg);
                            }
                            & .accordion-icon{
                                position: absolute;
                                top: 15px;
                                right: 7px;
                                height: 46px;
                                width: 46px;
                                border-radius: 50%;
                                display: inline-block;
                                border: 1px solid rgba(255, 255, 255, 0.14);
                                @media #{$xs}{
                                    height: 30px;
                                    width: 30px;
                                }
                                &::before {
                                    position: absolute;
                                    content: "";
                                    width: 2px;
                                    height: 14px;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                    background-color: var(--tp-common-px-white);
                                    border-radius: 2px;
                                    transition: 0.4s;
                                }
                                &::after {
                                    position: absolute;
                                    content: "";
                                    width: 14px;
                                    height: 2px;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                    background-color: var(--tp-common-px-white);
                                    border-radius: 2px;
                                }
                            }
                            & i{
                                margin-right: 80px;
                                display: inline-block;
                                transform: translateY(-3px);
                            }
                        }
                    }
                    & .accordion-body {
                        padding: 0;
                        padding-top: 20px;
                        padding-bottom: 60px;
                        & p{
                            font-size: 16px;
                            font-weight: 500;
                            letter-spacing: -0.4px;
                            color: rgba(255, 255, 255, 0.60);
                            @media #{$xl,$lg,$md,$xs}{
                                & br{
                                    display: none;
                                }
                            }
                        }
                        @media #{$lg,$md,$xs}{
                            padding-top: 0;
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
        &-category{
            & span{
                font-weight: 600;
                font-size: 13px;
                padding: 4px 16px;
                border-radius: 32px;
                display: inline-block;
                text-transform: uppercase;
                color: var(--tp-common-px-white);
                background: rgba(255, 255, 255, 0.06);
                @media #{$xs}{
                    font-size: 12px;
                    padding: 4px 12px;
                }
            }
        }
    }
}
