@use '../utils' as *;
/*----------------------------------------*/
/*  2.3 Animations
/*----------------------------------------*/

@keyframes rotate_anim {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
}


@keyframes text_upper {
	0% {
		transform:translateY(0)
	}
	to {
		transform:translateY(-105%)
	}
}

@keyframes text_bottom {
	0% {
		transform:translateY(105%)
	}
	to {
		transform:translateY(0)
	}
}

@keyframes animate-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 0 rgba(255, 255, 255, 0.2);
    }
    40% {
        box-shadow: 0 0 0 50px rgba(255, 109, 74, 0.0), 0 0 0 0 rgba(255, 255, 255, 0.2);
    }
    80% {
        box-shadow: 0 0 0 50px rgba(255, 109, 74, 0.0), 0 0 0 30px rgba(255, 109, 74, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 109, 74, 0.0), 0 0 0 30px rgba(255, 109, 74, 0);
    }
}

@keyframes headerSlideDown {
    0% {
     margin-top:-150px
    }
    100% {
     margin-top:0
    }
}