@use '../utils' as *;

/*----------------------------------------*/
/*  2.5 Background
/*----------------------------------------*/
.grey-bg {
	background-color: var(--tp-grey-px-1);
}
.theme-bg{
	background-color: var(--tp-theme-px-1);
}
.white-bg {
	background-color: var(--tp-common-px-white);
}
.black-bg{
	background-color: var(--tp-dark-black);
}

























[data-bg-color = "footer-bg-grey"] {
	background-color: var(--tp-footer-grey-1);
}
[data-bg-color = "footer-bg-white"] {
	background-color : var(--tp-common-px-white);
}
