@use '../utils' as *;

/*----------------------------------------*/
/*  2.2 Buttons
/*----------------------------------------*/

.px-btn{
	&-white{
		border-radius: 50px;
		padding: 21px 43px;
		font-weight: 600;
		font-size: 18px;
		line-height: 1;
		transition: .3s;
		display: inline-block;
		color: var(--tp-common-px-black);
		background-color: var(--tp-common-px-white);
		@media #{$lg}{
			padding: 18px 30px;
		}
		@media #{$md,$xs}{
			font-size: 15px;
			padding: 16px 30px;
		}
		&:hover{
			color: var(--tp-common-px-white);
			background-color: var(--tp-common-px-red);
		}
	}
	&-zikzak{
		display: inline-block;
		font-weight: 700;
		font-size: 30px;
		line-height: .93;
		text-transform: uppercase;
		color: var(--tp-common-px-white);
		font-family: var(--tp-ff-thunder);
		& .btn-text{
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 1;
			transform: translate(-50%, -50%);
			&.text-pos-1{
				top: 56%;
			}
		}
		& .btn-icon{
			display: block;
			margin-bottom: 5px;
		}
		& .zikzak-bg{
			display: inline-block;
			animation: rotate_anim 10s cubic-bezier(1, 0.99, 0.03, 0.01) infinite;
		}
		&:hover{
			color: var(--tp-common-px-white);
			& .zikzak-bg{
				animation-play-state: paused;
			}
		}
	}
	&-border{
		font-weight: 500;
		font-size: 17px;
		line-height: 1;
		padding: 13px 35px;
		border-radius: 70px;
		display: inline-block;
		letter-spacing: -0.06em;
		text-transform: uppercase;
		background-color: #FEFFF8;
		color: var(--tp-common-px-black);
		border: 1px solid rgba(30, 30, 30, 0.1);
		&:hover{
			color: var(--tp-common-px-white);
			border-color: var(--tp-common-px-red);
			background-color: var(--tp-common-px-red);
		}
	}
	&-black{
		font-size: 15px;
		font-weight: 600;
		padding: 17px 36px;
		border-radius: 50px;
		display: inline-block;
		letter-spacing: -0.6px;
		text-transform: uppercase;
		color: var(--tp-common-px-white);
		background-color: var(--tp-common-px-black);
		&:hover{
			color: var(--tp-common-px-white);
			border-color: var(--tp-common-px-red);
			background-color: var(--tp-common-px-red);
		}
		&.hover-orange-bg{
			&:hover{
				color: var(--tp-common-px-white);
				border-color: var(--tp-common-px-orange);
				background-color: var(--tp-common-px-orange);
			}
		}
	}
	&-slide{
		font-size: 18px;
		font-weight: 500;
		z-index: 1;
		position: relative;
		display: inline-block;
		padding: 17px 26px;
		letter-spacing: -0.6px;
		color: var(--tp-common-px-black-2);
		background: var(--tp-common-px-white);
		&:hover{
			color: var(--tp-common-px-white);
			&::before{
				width: 100%;
			}
		}
		& span{
			display: inline-block;
			margin-left: 118px;
			@media #{$xs} {
				margin-left: 45px;
			}
		}
		&::before{
			top: 0;
			left: 0;
			height: 100%;
			width: 3px;
			content: '';
			z-index: -1;
			position: absolute;
			@include tp-transition-mul(.5s);
			background-color: var(--tp-common-px-orange);
		}
	}
	&-grey{
		font-size: 15px;
		font-weight: 500;
		padding: 7px 24px;
		border-radius: 50px;
		display: inline-block;
		background: #F8F8F8;
		letter-spacing: -0.6px;
		text-transform: uppercase;
		color: var(--tp-common-px-black);
		&:hover{
			color: var(--tp-common-px-white);
			border-color: var(--tp-common-px-orange);
			background-color: var(--tp-common-px-orange);
		}
	}
}
.px-doubble-effect{
	display: inline-flex;
	align-items: center;
	& i{
		position: relative;
		overflow: hidden;
		width: 14px;
		height: 14px;
		display: inline-flex;
		margin-left: 7px;
		& svg{
			transform: translateY(-2px);
			position: absolute;
			bottom: -1px;
			left: 1px;
			transition: all 0.2s ease-out;
			&:last-child{
				left: -12px;
				bottom: -12px;
				transform: translate(0, 0);
				opacity: 0;
			}
		}
	}
	&:hover{
		& i{
			& svg:first-child{
				transform: translate(16px, -16px);
			}
			& svg:last-child{
				opacity: 1;
				visibility: visible;
				transform: translate(13px, -13px);
			}
		}
		& span{
			&::after{
				transform: translate(1rem);
			}
			&::before{
				transform: translate(calc(100% + 1rem));
			}
		}
	}
	& span{
		position: relative;
		overflow: hidden;
		&::before,
		&::after {
			content: "";
			position: absolute;
			display: block;
			bottom: .2em;
			width: 100%;
			height: 1px;
			background-color: currentColor;
			transition: transform .5s cubic-bezier(.59,.23,.22,.96);
		}
		&::before{
			left: 0;
		}
		&::after{
			left: calc(-1 * 1rem);
			transform: translate(-100%);
		}
	}
}
.px-line-lr{
	position: relative;
	&::after{
		position: absolute;
		content: '';
		bottom: 0;
		right: 0;
		height: 1px;
		width: 0;
		transition: .5s;
		background-color: currentColor;
	}
	&:hover{
		&::after{
			right: auto;
			left: 0;
			width: 100%;
		}
	}
}
.tp-btn{
	&-px{
		font-size: 16px;
		font-weight: 600;
		line-height: 1;
		padding: 18px 24px;
		border-radius: 10px;
		display: inline-block;
		letter-spacing: -0.01em;
		color: var(--tp-common-px-white);
		background-color: var(--tp-common-px-orange);
		& span{
			position: relative;
			z-index: 1;
			overflow: hidden;
			display: inline-block;
			& span{
				&.text-1{
					position: relative;
					display: block;
					transition: 0.3s;
				}
				&.text-2{
					position: absolute;
					top: 100%;
					display: block;
					transition: 0.3s;
				}
			}
		}
		&:hover{
			color: var(--tp-common-px-white);
			& span{
				& span{
					&.text-1{
						-webkit-transform: translateY(-150%);
						transform: translateY(-150%);
					}
					&.text-2{
						top: 50%;
						-webkit-transform: translateY(-50%);
						transform: translateY(-50%);
					}
				}
			}
			& i{
				& svg{
					&:first-child{
						transform: translate(16px, -16px);
					}
				}
			}
		}
		&.postbox-btn{
			font-size: 15px;
			font-weight: 600;
			line-height: 1;
			border-radius: 12px;
			padding: 15.5px 28px;
			& i{
				position: relative;
				width: 15px;
				height: 15px;
				margin-left: 7px;
				overflow: hidden;
				display: inline-flex;
				& svg{
					left: 1px;
					bottom: -1px;
					position: absolute;
					transform: translateY(-2px);
					transition: all 0.2s ease-out;
					&:last-child{
						left: -12px;
						bottom: -12px;
						opacity: 0;
						transform: translate(0, 0);
					}
				}
			}
			&:hover{
				& i{
					& svg{
						&:last-child{
							opacity: 1;
							visibility: visible;
							transform: translate(13px, -13px);
						}
					}
				}
			}
		}
	}
	&-yellow-border{
		font-weight: 600;
		font-size: 16px;
		line-height: 1;
		padding: 21px 28px;
		border-radius: 10px;
		display: inline-block;
		letter-spacing: -0.01em;
		text-transform: uppercase;
		color: var(--tp-common-yellow-green);
		border: 1px solid var(--tp-common-yellow-green);
		& span{
			position: relative;
			z-index: 1;
			overflow: hidden;
			display: inline-block;
			& span{
				&.text-1{
					position: relative;
					display: block;
					transition: 0.3s;
				}
				&.text-2{
					position: absolute;
					bottom: 100%;
					display: block;
					transition: 0.3s;
				}
			}
		}
		& i{
			position: relative;
			overflow: hidden;
			width: 12px;
			height: 12px;
			display: inline-flex;
			margin-left: 7px;
			& svg{
				transform: translateY(-2px);
				position: absolute;
				bottom: -1px;
				left: 1px;
				transition: all 0.2s ease-out;
				&:last-child{
					left: -12px;
					bottom: -12px;
					transform: translate(0, 0);
					opacity: 0;
				}
			}
		}
		@media #{$xs}{
			font-size: 14px;
			padding: 15px 20px;
		}
		&.sm{
			font-size: 14px;
			padding: 15px 28px;
		}
		&:hover{
			color: var(--tp-common-yellow-green);
			& span{
				& span{
					&.text-1{
						-webkit-transform: translateY(150%);
						transform: translateY(150%);
					}
					&.text-2{
						bottom: 50%;
						-webkit-transform: translateY(50%);
						transform: translateY(50%);
					}
				}
			}
			& i{
				& svg:first-child{
					transform: translate(16px, -16px);
				}
				& svg:last-child{
					opacity: 1;
					visibility: visible;
					transform: translate(13px, -13px);
				}
			}
		}
		&:focus{
			color: var(--tp-common-yellow-green);
		}
		&.postbox-btn{
			font-weight: 600;
			font-size: 15px;
			line-height: 1;
			color: #d0ff71;
			padding: 15.5px 28px;
			background: #1a1b1e;
			border: 1px solid #1a1b1e;
			& i{
				width: 15px;
				height: 15px;
				border-radius: 14px;
			}
		}
	}
}
.px-portfolio-details-btn {
	font-size: 16px;
	font-weight: 600;
	padding: 10px 25px;
	padding-bottom: 9px;
	border-radius: 24px;
	letter-spacing: -0.16px;
	display: inline-block;
	text-transform: uppercase;
	color: var(--tp-common-px-black);
	border: 1px solid var(--tp-common-px-black);
	& span{
		margin-left: 15px;
		display: inline-block;
		transform: translateY(-2px);
	}
	&:hover{
		color: var(--tp-common-px-white);
		border-color: var(--tp-common-px-black);
		background-color: var(--tp-common-px-black);
	}
}

.tp-split {
  opacity: 0;
}

.tp-split * {
  will-change: transform;
}