@use '../utils' as *;

/*----------------------------------------*/
/*  2.4 Preloader
/*----------------------------------------*/

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader.loaded {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.loader__wrapper {
  padding: 0 40px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FEFFF8;
  background: var(--tp-common-px-red);
    &::after{
        position: absolute;
        bottom: 40px;
        content: '';
        height: 1px;
        width: 100%;
        display: inline-block;
        border-bottom: 1px solid #FEFFF8;
    }
}

.loader__content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.loader__count {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1;
}

.count__text,
.count__percent {
  font-size: 200px;
  font-family: var(--tp-ff-thunder);
  color: #FEFFF8;
}

.count__bdr {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  background-color: #FEFFF8;
  transition: width 0.1s linear;
}
