@use '../utils' as *;

/*----------------------------------------*/
/*  2.9 select
/*----------------------------------------*/

.nice-select.px-select {
    position: relative;
	width: 100%;
	height: 56px;
	line-height: 56px;
	padding: 0px 23px;
	border-radius: 72px;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.10);
    & span{
        &.current{
            font-size: 17px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: -0.17px;
            color: rgba(255, 255, 255, 0.70);
        }
    }
    &::after {
        position: absolute;
        content: "\f107";
        top: 50%;
        right: 20px;
        margin-top: 0;
        font-weight: 500;
        pointer-events: none;
        -webkit-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out;
        transform-origin: center;
        transform: translateY(-50%);
        color: rgba(255, 255, 255, 0.70);
        font-family: var(--tp-ff-fontawesome);
    }
    &.open{
        border-color: var(--tp-common-px-white);
        &::after{
            transform: translateY(-50%) rotate(-180deg);
        }
    }
    & .list{
        width: 100%;
        background: #121212;
        & li{
            font-size: 15px;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.5);
            &.selected{
                font-size: 17px;
                font-weight: 500;
                letter-spacing: -0.17px;
                color: rgba(255, 255, 255, 0.70);
            }
        }
    }
}
