@use '../../utils' as *;
/*----------------------------------------*/
/*  5.4 Blog css
/*----------------------------------------*/
.px-blog{
    &-category{
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 2px;
        display: inline-block;
        letter-spacing: -0.03em;
        color: var(--tp-common-px-black);
    }
    &-title{
        margin-bottom: 0;
        font-weight: 500;
        font-size: 46px;
        font-family: var(--tp-ff-thundermed);
        & a{
            &:hover{
                color: var(--tp-common-px-red);
            }
        }
        @media #{$xl}{
            font-size: 35px;
        }
        @media #{$lg,$xs}{
            font-size: 35px;
        }
    }
    &-meta{
        font-weight: 500;
        font-size: 14px;
        letter-spacing: -0.03em;
        color: rgba(30, 30, 30, 0.5)
    }
    &-thumb{
        overflow: hidden;
        margin-bottom: 20px;
        border-radius: 10px;
        & img{
            border-radius: 10px;
        }
    }
    &-area{
        @media #{$lg,$md,$xs}{
            padding-top: 80px;
            padding-bottom: 0;
        }
    }
}

.in-blog{
    &-hero{
        &-content{
            @media #{$md,$xs} {
                margin-bottom: 20px;
            }
        }
        &-title{
            font-size: 275px;
            font-weight: 700;
            line-height: .8;
            letter-spacing: -2.8px;
            text-transform: uppercase;
            color: var(--tp-common-px-black);
            font-family: var(--tp-ff-thunder);
            @media #{$x3l,$xxl} {
                font-size: 200px;
            }
            @media #{$xl} {
                font-size: 180px;
            }
            @media #{$lg} {
                font-size: 140px;
                letter-spacing: 0;
            }
            @media #{$md} {
                font-size: 100px;
                letter-spacing: 0;
            }
            @media #{$xs} {
                font-size: 55px;
                letter-spacing: 0;
            }
            @media #{$sm} {
                font-size: 75px;
            }
        }
        &-ptb{
            padding-top: 200px;
            @media #{$md,$xs}{
                padding-top: 150px;
            }
        }
    }
    &-list{
        &-category{
            & span{
                display: inline-flex;
                padding: 12px 30px;
                font-size: 15px;
                font-weight: 500;
                line-height: 1;
                transition: .3s;
                border-radius: 6px;
                background: #F5F5F5;
                letter-spacing: -0.2px;
                text-transform: uppercase;
                color: var(--tp-common-px-black);
                @media #{$xxl} {
                    padding: 12px 25px;
                }
                @media #{$xl} {
                    padding: 12px 15px;
                    font-size: 14px;
                }
                @media #{$lg,$md,$xs} {
                    margin-bottom: 6px;
                }
                &:hover,
                &.active{
                    color: var(--tp-common-px-white);
                    background-color: var(--tp-common-px-orange);
                }
            }
            &-wrap{
                padding: 5px 0;
                margin-bottom: 60px;
                border-top: 1px solid rgba(30, 30, 30, 0.08);
                border-bottom: 1px solid rgba(30, 30, 30, 0.08);
            }
        }
        &-search{
            &-input{
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 1px;
                    transition-delay: 0s;
                    transition: width .3s ease;
                    background-color: var(--tp-common-px-black);
                }
                &.active{
                    &::before{
                        width: 100%;
                        transition-delay: .3s;
                    }
                    & input{
                        width: 240px;
                        @media #{$xl}{
                            width: 150px;
                        }
                        @media #{$md}{
                            width: 160px;
                        }
                    }
                }
                & input{
                    font-size: 14px;
                    font-weight: 400;
                    padding: 0px 35px;
                    padding-right: 0;
                    height: 44px;
                    width: 95px;
                    border: 0;
                    display: inline-block;
                    letter-spacing: -0.02em;
                    background-color: transparent;
                    color: var(--tp-common-px-black);
                    @include tp-placeholder{
                        color: rgba($color: #000000, $alpha: 0.6);
                    }
                }
            }
            &-icon{
                position: absolute;
                left: 0;
                top: 48%;
                transform: translateY(-50%);
                & span{
                    color: var(--tp-common-px-black);
                }
            }
        }
    }
}

.px-postbox{
    &-style{
        & .sidebar-widget-author-img{
            & img{
                height: 60px;
                width: 60px;
            }
        }
    }
}

.tp-blog-details{
    &-ptb{
        border-bottom: 1px solid rgba(30, 30, 30, 0.08);
        @media #{$md} {
            padding-top: 80px;
        }
        @media #{$xs} {
            padding-top: 40px;
        }
    }
    &-without{
        &-ptb{
            padding-top: 220px;
            @media #{$lg} {
                padding-top: 185px;
            }
            @media #{$md,$xs} {
                padding-top: 150px;
            }
        }
        &-heading{
            & .postbox-details-item{
                & .postbox-tag{
                    & span{
                        font-size: 16px;
                        font-weight: 600;
                        margin-right: 0px;
                        color: rgba(0, 0, 0, 0.6);
                    }
                }
            }
        }
    }
    &-banner{
        height: 830px;
        @media #{$xl,$lg} {
            height: 600px;
        }
        @media #{$md} {
            height: 300px;
        }
        @media #{$xs} {
            height: 240px;
        }
        @media #{$md,$xs} {
            margin-bottom: 40px;
        }
        & img{
            margin-top: -200px;
            @media #{$xs} {
                margin-top: -100px;
            }
        }
    }
}

.px-orange-style{
    & .px-blog-title {
        & a{
            &:hover{
                color: var(--tp-common-px-orange);
            }
        }
    }
}