@use '../../utils' as *;

/*----------------------------------------*/
/*  5.2 Recent Post css
/*----------------------------------------*/


.rc-post{
    &-thumb{
        flex: 0 0 auto;
        overflow: hidden;
        margin-right: 30px;
        border-radius: 14px;
        & img{
            transition: .9s;
            border-radius: 14px;
            @media #{$lg,$md,$xs}{
                height: 100px;
                width: 100px;
            }
        }
    }
    &:hover{
        & .rc-post-thumb{
            & img{
                transform: scale(1.1);
            }
        }
    }
    &-category{
        margin-bottom: 10px;
        & a{
            font-size: 13px;
            font-weight: 600;
            line-height: 1;
            padding: 7px 12px;
            border-radius: 15px;
            display: inline-block;
            color: var(--tp-common-px-black-2);
            border: 1px solid rgba(30, 30, 30, 0.10);
        }
    }
    &-title{
        font-size: 20px;
        font-weight: 600;
        line-height: 1.3;
        margin-bottom: 8px;
        letter-spacing: -0.2px;
        color: var(--tp-common-px-black-2);
        @media #{$xl,$lg,$md,$xs}{
            font-size: 18px;
        }
        @media #{$lg}{
            font-size: 16px;
        }
        & a{
         &:hover{
               color: var(--tp-common-px-orange);
            }
        }
    }
    &-meta{
        & span{
            font-size: 13px;
            font-weight: 600;
            line-height: 1;
            color: rgba(0, 0, 0, 0.6);
        }
    }
    &-wrap{
        & .rc-post{
            &:not(:last-child){
                margin-bottom: 25px;
                padding-bottom: 25px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.06);
            }
        }
    }
}