@use '../../utils' as *;
/*----------------------------------------*/
/*  5.3 Sidebar css
/*----------------------------------------*/

.sidebar{
    &-search{
        position: relative;
        & input{
            width: 100%;
            height: 60px;
            padding: 0 25px;
            font-weight: 500;
            font-size: 18px;
            line-height: 60px;
            border-radius: 14px;
            padding-right: 50px;
            background: #F6F6F9;
            color: var(--tp-common-px-black);
            border: 1px solid transparent;
            @include tp-placeholder{
                font-size: 18px;
                font-weight: 500;
                line-height: 1;
                color: rgba(0, 0, 0, 0.6);
            }
            &:focus{
                background-color: transparent;
                border: 1px solid var(--tp-common-px-orange);
            }
        }
        & button{
            position: absolute;
            top: 0;
            right: 25px;
            height: 100%;
            line-height: 60px;
            color: var(--tp-common-px-black);
        }

    }
    &-widget{
        &-author{
            padding: 40px;
            border-radius: 14px;
            border: 1px solid rgba(0, 0, 0, 0.06);
            @media #{$lg,$xs} {
                padding: 30px;
            }
            &-img{
                margin-bottom: 35px;
                & img{
                    border-radius: 50%;
                }
            }
            &-name{
                font-size: 18px;
                font-weight: 600;
                line-height: 1;
                margin-bottom: 5px;
                letter-spacing: -0.02em;
                color: var(--tp-common-px-black-2);
            }
            &-content{
                & span{
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1;
                    margin-bottom: 20px;
                    color: #9E9A9A;
                    display: inline-block;
                }
                & p{
                    font-size: 17px;
                    font-weight: 500;
                    line-height: 1.5;
                    margin-bottom: 20px;
                    color: rgba(0, 0, 0, 0.7)
                }
            }
            &-social{
                & a{
                    margin: 0 5px;
                    & span{
                        transition: all .4s ease-in-out;
                        color: var(--tp-common-px-black-2);
                    }
                    &:hover{
                        & span{
                            color: var(--tp-common-px-orange);
                        }
                    }
                }
            }
        }
        &-title{
            font-size: 24px;
            font-weight: 600;
            line-height: 1;
            margin-bottom: 30px;
            letter-spacing: -0.02em;
            color: var(--tp-common-px-black-2);
        }
        &-category{
            & ul{
                & li{
                    list-style-type: none;
                    & a{
                        font-size: 16px;
                        border-radius: 14px;
                        padding: 12px 20px;
                        font-weight: 500;
                        line-height: 1;
                        background: #F6F6F9;
                        letter-spacing: -0.01em;
                        color: rgba(0, 0, 0, 0.8);
                        & span{
                            transition: .3s;
                            &:last-child{
                                color: rgba(0, 0, 0, 0.4);
                            }
                        }
                        &:hover{
                            color: var(--tp-common-px-orange);
                            & span{
                                &:last-child{
                                    color: VAR(--tp-common-px-orange);
                                }
                            }
                        }
                    }
                    &:not(:last-child){
                        margin-bottom: 6px;
                    }
                }
            }
        }
    }
    &-wrapper{
        padding-left: 20px;
        @media #{$xl,$lg}{
            padding-left: 0;
        }
        @media #{$md,$xs}{
            padding-left: 0;
            margin-top: 70px;
        }
    }
    &-blog-grid-wrap{
        & .sidebar-wrapper {
            padding-left: 2px;
          }
    }
}
.tagcloud{
    & a{
        font-size: 16px;
        line-height: 1;
        border-radius: 14px;
        padding: 10px 18px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;
        color: rgba(0, 0, 0, 0.6);
        background: #F6F6F9;
        display: inline-block;
        text-transform: capitalize;
        @media #{$lg}{
            padding: 10px 14px;
            font-size: 13px;
        }
        @media #{$xs}{
            padding: 10px 14px;  
        }
        &:not(:last-child){
            margin-right: 5px;
        }
        &:hover{
            color: var(--tp-common-px-white);
            background-color: VAR(--tp-common-px-orange);
        }
    }
}