@use '../../utils' as *;

/*----------------------------------------*/
/*  7.9 brand css
/*----------------------------------------*/

.px-brand{
    &-area{
        @media #{$lg,$md,$xs}{
            padding-top: 80px;
            padding-bottom: 80px;
        }
        @media #{$xs} {
            padding-top: 40px;
        }
    }
    &-subtitle-box{
        @media #{$lg,$md,$xs}{
            margin-bottom: 0;
        }
    }
    &-item{
        min-height: 180px;
        width: 100%;
        padding: 20px;
        display: grid;
        text-align: center;
        border-radius: 14px;
        place-content: center;
        background: var(--tp-common-px-white);
        @media #{$lg,$md,$xs}{
            margin-bottom: 5px;
        }
    }
    &-style{
        &-3{
            @media #{$md,$xs}{
                padding-top: 40px;
            }
            & .px-brand-item{
                min-width: 240px;
                background-color: transparent;
                border: 1px solid rgba(0, 0, 0, 0.06);
            }
            & .px-section-subtitle {
                font-weight: 500;
                font-size: 17px;
                text-transform: uppercase;
            }
        }
        &-4{
            & .px-brand-item {
                min-width: 240px;
                background: transparent;
                border: 1px solid rgba($color: #fff, $alpha: 0.09);
            }
        }
        &-5{
            & .px-brand-item {
                min-height: 140px;
                padding: 20px;
                border-radius: 0;
                margin: 0 0 0 0;
                background: transparent;
                border: 1px solid #ECECEC;
            }
        }
    }
}