@use '../../utils' as *;
/*----------------------------------------*/
/*  7.1 Hero css
/*----------------------------------------*/

.px-hero{
    &-video{
        width: 300px;
        overflow: hidden;
        @media #{$xs}{
            width: 100%;
        }
        & video{
            width: 100%;
            border-radius: 16px;
        }
    }
    &-bg{
        padding-top: 290px;
        padding-bottom: 70px;
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 0 0 60px 60px;
        overflow: hidden;
        @media #{$lg}{
            padding-top: 260px;
            padding-bottom: 80px;
        }
        @media #{$md}{
            padding-top: 220px;
        }
        @media #{$xs}{
            padding-top: 210px;
        }
        &-img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
    &-subtitle{
        font-weight: 600;
        font-size: 22px;
        line-height: 1.4;
        margin-bottom: 25px;
        display: inline-block;
        letter-spacing: -0.04em;
        color: var(--tp-common-px-white);
    }
    &-title{
        font-size: 140px;
        font-weight: 800;
        line-height: .9;
        text-transform: uppercase;
        color: var(--tp-common-px-white);
        font-family: var(--tp-ff-thunder);
        @media #{$lg}{
            font-size: 110px;
        }
        @media #{$md}{
            font-size: 90px;
        }
        @media #{$xs}{
            font-size: 60px;
            line-height: 1;
            margin-bottom: 20px;
        }
        &-box{
            transform: translateY(20px);
        }
        &-wrap{
            @media #{$lg,$md}{
                padding-bottom: 70px;
            }
            @media #{$xs}{
                padding-bottom: 40px;
            }
        }
    }
    &-info{
        & p{
            font-weight: 600;
            font-size: 22px;
            line-height: 1.4;
            margin-bottom: 25px;
            letter-spacing: -0.04em;
            color: var(--tp-common-px-white); 
            @media #{$xs}{
                font-size: 18px;
                & br{
                    display: none;
                }
            }
        }
        & img{
            border-radius: 16px;
        }
    }
    &-service{
        &-item{
            margin-bottom: 30px;
            & span{
                font-weight: 600;
                font-size: 18px;
                line-height: 1;
                display: block;
                letter-spacing: -0.04em;
                color: var(--tp-common-px-white);
                &:not(:last-child){
                    margin-bottom: 15px;
                }
            }
        }
        &-wrap{
            @media #{$md,$xs}{
                flex-wrap: wrap;
            }
        }
    }
    &-2{
        &-thumb{
            display: flex;
            width: 130px;
            justify-content: center; 
            align-items: center;
            filter: saturate(0);
            overflow: hidden;
            transform: scale(1);
            transform-origin: center center;
            transition: all 1s cubic-bezier(.19,1,.22,1);
            & img{
                height: 100%;
                object-fit: cover;
                transform: scale(1.2);
                transform-origin: center center;
                transition: transform 1s cubic-bezier(.19,1,.22,1);
            }
            &:hover{
                filter: saturate(1);
                transform: scale(1.2);
                & img {
                    transform: scale(1);
                }
            }
        }
        &-content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            overflow: hidden;
            text-align: center;
            & span {
                font-weight: 700;
                font-size: 30px;
                line-height: 1.07;
                display: inline-block;
                letter-spacing: -0.05em;
                text-transform: uppercase;
                color: var(--tp-common-px-black);
                transform: translateY(-105%);
                animation: text_upper 1s cubic-bezier(.19,1,.22,1) forwards;
            }
        }
        &-item {
            &.active {
                & .px-hero-2-content {
                    overflow: hidden;
                    & span {
                        animation: text_bottom 1s cubic-bezier(.19,1,.22,1) forwards;
                    }
                }
                & .px-hero-2-thumb{
                    filter: saturate(1);
                    transform: scale(1.2);
                    & img {
                        transform: scale(1);
                    }
                }
            }
        }
        &-text{
            position: relative;
            font-weight: 700;
            font-size: 350px;
            line-height: .7;
            letter-spacing: -0.01em;
            text-transform: uppercase;
            color: var(--tp-common-px-red);
            font-family: var(--tp-ff-thunder);
            @media only screen and (min-width: 1800px) and (max-width: 1900px) {
                font-size: 320px;
            }
            @media #{$x4l}{
                font-size: 295px;
            }
            @media #{$x3l}{
                font-size: 270px;
            }
            @media #{$xxl}{
                font-size: 220px;
            }
            @media #{$xl}{
                font-size: 172px;
            }
            @media #{$lg}{
                font-size: 230px;
            }
            @media #{$md}{
                font-size: 175px;
            }
            @media #{$xs}{
                font-size: 85px;
            }
            & i{
                flex: 0 0 auto;
                height: 10px;
                width: 420px;
                margin: 0 30px;
                font-style: normal;
                margin-right: 15px;
                display: inline-block;
                transform: translateY(-50px);
                background-color: var(--tp-common-px-red);
                @media #{$xl}{
                    transform: translateY(-22px);
                }
            }
            & span{
                position: absolute;
                bottom: 30px;
                left: 0%;
                right: 0%;
                margin: 0 auto;
                font-weight: 700;
                font-size: 30px;
                line-height: 1.07;
                letter-spacing: -0.05em;
                text-transform: uppercase;
                color: var(--tp-common-px-black);
                font-family: var(--tp-ff-body);
                @media #{$xl}{
                    font-size: 20px;
                }
            }
        }
        &-contents{
            & span{
                font-weight: 700;
                font-size: 45px;
                line-height: 1.07;
                display: inline-block;
                letter-spacing: -0.05em;
                text-transform: uppercase;
                color: var(--tp-common-px-black);
                @media #{$xs}{
                    font-size: 25px;
                }
            }
        }
        &-thumbs{
            filter: saturate(0);
            transition: all 1s cubic-bezier(.19,1,.22,1);
        }
        &-bottom-active{
            & .swiper-slide-active{
                & .px-hero-2-thumbs{
                    filter: saturate(1);
                }
            }
        }
        &-slider-wrap{
            @media #{$xs}{
                padding-bottom: 60px;
            }
        }
    }
    &-3{
        &-bg{
            position: relative;
            background-repeat: no-repeat;
            background-position-x: center;
        }
    }
    &-4{
        &-content{
            @media #{$md,$xs}{
                margin-bottom: 40px;
            }
            & p{
                font-weight: 600;
                font-size: 40px;
                line-height: 1.1;
                margin-bottom: 30px;
                letter-spacing: -0.07em;
                color: var(--tp-common-px-black);
                & span{
                    color: var(--tp-common-px-red);
                }
                @media #{$xs}{
                    font-size: 37px;
                    margin-bottom: 20px;
                    & br{
                        display: none;
                    }
                }
            }
        }
        &-bigtitle{
            & h2{
                font-size: 515px;
                font-weight: 800;
                line-height: 1;
                letter-spacing: -0.02em;
                text-transform: uppercase;
                transform: translateX(-27px);
                color: var(--tp-common-px-black);
                @media only screen and (min-width: 1801px) and (max-width: 1900px) {
                    font-size: 500px;
                }
                @media #{$x4l}{
                    font-size: 474px;
                }
                @media #{$x3l}{
                    font-size: 440px;
                    transform: translateX(-10px);
                }
                @media #{$xxl}{
                    font-size: 380px;
                    transform: translateX(-10px);
                }
                @media #{$xl}{
                    font-size: 310px;
                    transform: translateX(-10px);
                }
                @media #{$lg}{
                    font-size: 260px;
                    transform: translateX(-15px);
                }
                @media #{$md}{
                    font-size: 190px;
                    transform: translateX(-10px);
                }
                @media #{$xs}{
                    font-size: 95px;
                    transform: translateX(0px);
                }
            }
        }
        &-scrolldown{
            display: inline-grid;
            place-content: center;
            text-align: center;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            display: inline-block;
            border: 1px solid rgba(10, 10, 10, 0.1);
            &:hover{
                color: var(--tp-common-px-white);
                border-color: var(--tp-common-px-red);
                background-color: var(--tp-common-px-red);
            }
        }
        &-video{
            line-height: 1;
            @media #{$md,$xs}{
                width: 100%;
                margin-bottom: 30px;
                display: inline-table;
            }
            & video{
                width: 300px;
                height: 195px;
                object-fit: cover;
                margin-bottom: 10px;
                @media #{$md,$xs}{
                    width: 100%;
                    height: 100%;
                    margin-bottom: 15px;
                    
                }
            }
            &-btn{
                & span{
                    font-weight: 500;
                    font-size: 15px;
                    letter-spacing: -0.04em;
                    text-transform: uppercase;
                    color: var(--tp-common-px-black);
                }
            }
        }
    }
}

.px-hero-5{
    &-thumb{
        @media #{$md}{
            margin-right: 30px;
        }
        & span{
            font-weight: 500;
            font-size: 14px;
            line-height: 1;
            color: #6d6868;
            margin-left: 10px;
            margin-bottom: 10px;
            display: inline-block;
            letter-spacing: -0.01em;
            text-transform: uppercase;
            writing-mode: sideways-lr;
        }
        &-wrap{
            @media #{$md}{
                display: flex;
                margin-bottom: 30px;
            }
        }
    }
    &-content{
        & p{
            font-weight: 500;
            font-size: 36px;
            line-height: 1.1;
            margin-bottom: 170px;
            letter-spacing: -0.04em;
            color: var(--tp-common-px-black);
            @media #{$xl}{
                font-size: 34px;
            }
            @media #{$md}{
                margin-bottom: 50px;
            }
            @media #{$xs}{
                font-size: 28px;
                margin-bottom: 50px;
                & br{
                    display: none;
                }
            }
        }
        & span{
            font-weight: 500;
            font-size: 14px;
            line-height: 1.3;
            color: #6d6868;
            display: inline-block;
            letter-spacing: -0.01em;
            text-transform: uppercase;  
        }
    }
    &-category,
    &-social{
        & a{
            font-weight: 500;
            font-size: 14px;
            line-height: 1.3;
            color: #6d6868;
            display: inline-block;
            letter-spacing: -0.01em;
            text-transform: uppercase;
            &:not(:last-child){
                margin-bottom: 8px;
            }
        }
    }
    &-category{
        & span{
            flex: 0 0 auto;
            opacity: 0;
            visibility: hidden;
            transition: all .3s;
            display: inline-block;
            transform: translateY(-2px);
            @media #{$xs}{
                display: none;
            }
        }
        &:hover{
            & span{
                opacity: 1;
                visibility: visible;
                transform: translateX(-10px) translateY(-2px);
            }
        }
    }
    &-style{
        & .px-hero-4-video{
            @media #{$lg,$md,$xs}{
                width: 100%;
                margin-bottom: 0;
            }
            & video{
                @media #{$lg,$md}{
                    width: 100%;
                    height: 100%;
                    margin-top: 40px;
                }
                @media #{$xs}{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    &-area{
        @media #{$lg,$md,$xs}{
            padding-bottom: 80px;
        }
    }
    &-pt{
        padding-top: 450px;
        @media #{$xl}{
            padding-top: 330px;
        }
        @media #{$lg}{
            padding-top: 160px;
        }
        @media #{$md,$xs}{
            padding-top: 100px;
        }
    }
}

.px-hero-6{
    &-bg{
        background-position-y: 80px;
        background-repeat: no-repeat;
    }
    &-info{
        & p{
            font-weight: 600;
            font-size: 40px;
            line-height: 1.1;
            margin-bottom: 25px;
            letter-spacing: -0.05em;
            color: var(--tp-common-px-black);
            @media #{$xl,$lg}{
                font-size: 35px;
            }
            @media #{$md}{
                & br{
                    display: none;
                }
            }
            @media #{$xs}{
                font-size: 35px;
            }
            @media #{$sm}{
                & br{
                    display: none;
                }
            }
        }
    }
    &-social{
        @media #{$lg}{
            margin-bottom: 25px;
        }
        & a{
            font-weight: 500;
            font-size: 14px;
            line-height: 1;
            color: #575454;
            letter-spacing: -0.01em;
            text-transform: uppercase;
            &:not(:last-child){
                margin-right: 40px;
                @media #{$xl}{
                    margin-right: 15px;
                }
                @media #{$xs}{
                    margin-right: 30px;
                }
            }
            & span{
                margin-left: 8px;
            }
        }
    }
    &-category{
        & span{
            font-weight: 500;
            font-size: 14px;
            line-height: 1;
            transition: .3s;
            color: #575454;
            margin-bottom: 8px;
            border-radius: 20px;
            padding: 10px 20px;
            display: inline-block;
            background: #f8f8f8;
            letter-spacing: -0.01em;
            text-transform: uppercase;
            @media #{$xl}{
                font-size: 13px;
            }
            @media #{$sm}{
                font-size: 12px;
                padding: 10px 14px;
            }
            &:hover{
                color: var(--tp-common-px-white);
                background-color: var(--tp-common-px-orange);
            }
        }
        @media #{$lg}{
            & br{
                display: none;
            }
        }
        @media #{$md,$xs}{
            margin-bottom: 20px;
            & br{
                display: none;
            }
        }
    }
    &-thumb{
        & img{
            max-width: inherit;
            margin-left: -115px;
            @media #{$md,$xs}{
                max-width: 100%;
                margin-left: 0;
            }
        }
    }
    &-signature{
        margin-bottom: 110px;
        @media #{$md}{
            margin-bottom: 40px;
        }
        @media #{$xs}{
            margin-bottom: 30px;
        }
    }
    &-text{
        & span{
            font-weight: 600;
            font-size: 220px;
            line-height: 1;
            letter-spacing: -0.01em;
            text-transform: uppercase;
            color: var(--tp-common-px-black);
            font-family: var(--tp-ff-thunder);
            @media #{$xl}{
                font-size: 200px;
            }
            @media #{$lg}{
                font-size: 170px;
            }
            @media #{$md}{
                font-size: 150px;
            }
            @media #{$xs}{
                font-size: 110px;
            }
            & i{
                font-style: normal;
                &.icon-left{
                    margin-left: -18px;
                }
            }
        }
    }
    &-btn{
        &-wrap{
            position: absolute;
            top: -90px;
            right: 30%;
            z-index: 55;
            @media #{$lg,$md} {
                right: 7%;
            }
            @media #{$xs} {
                position: relative;
                top: 0;
                right: 0;
                margin-left: 15px;
                margin-bottom: 20px;
            }
        }
        & .zikzak-bg{
            color: var(--tp-common-px-orange);
        }
    }
}

.ripples{
    & canvas {
        display: block;
    }
}

.px-blur-bottom {
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	bottom: 0;
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
	height: 80px;
	left: 0;
	-webkit-mask: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black)) add;
	-webkit-mask: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%) add;
	mask: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black)) add;
	mask: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 100%) add;
	overflow: visible;
	position: fixed;
	right: 0;
	pointer-events: none;
	z-index: 999;
}

.px-orange-style{
    & .px-hero-4-content{
        & p {
            & span{
                color: var(--tp-common-px-orange);
            }
        }
    }
}