@use '../../utils' as *;

/*----------------------------------------*/
/*  8.1 step css
/*----------------------------------------*/

.px-step{
    &-item{
        height: 920px;
    }
    &-area{
        @media #{$md,$xs} {
            margin-bottom: 100px;
        }
    }
    &-video{
        position: absolute;
        top: 11%;
        left: 9%;
        & video{
            mix-blend-mode: multiply;
        }
        @media #{$xs} {
            left: -38%;
        }
    }
    &-card{
        max-width: 530px;
        padding: 60px 60px 45px 60px;
        margin-bottom: 250px;
        @media #{$xl}{
            padding: 60px 30px 45px 30px;
        }
        @media #{$lg,$md}{
            margin-bottom: 30px;
            max-width: 100%;
        }
        @media #{$xs}{
            padding: 50px 30px 45px 30px;
            margin-bottom: 30px;
            max-width: 100%;
        }
        &-badge{
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            padding: 6px 14px;
            border-radius: 27px;
            display: inline-block;
            text-transform: uppercase;
            color: var(--tp-common-px-white);
            background: var(--tp-common-px-black);
        }
        &-content{
            margin-bottom: 65px;
            & span{
                font-size: 260px;
                font-weight: 500;
                line-height: .7;
                text-transform: uppercase;
                color: var(--tp-common-px-black);
                font-family: var(--tp-ff-thundermed);
                @media #{$xs}{
                    font-size: 180px;
                }
            }
            & p{
                font-size: 18px;
                font-weight: 400;
                line-height: 26px;
                margin-bottom: 0;
                color: var(--tp-common-px-black);
            }
        }
        &-wrap{
            @media #{$lg,$md,$xs}{
                margin-top: 30px;
                margin-right: 0;
            }
        }
    }
    &-title{
        font-size: 80px;
        font-weight: 500;
        line-height: .9;
        margin-bottom: 0;
        text-transform: uppercase;
        color: var(--tp-common-px-black);
        font-family: var(--tp-ff-thundermed);
        @media #{$xs}{
            font-size: 50px;
        }
    }
    &-ptb{
        padding-top: 210px;
        padding-bottom: 210px;
    }
    &-list{
        & ul{
            & li{
                line-height: 1;
                list-style-type: none;
                & span{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: -0.6px;
                    &::before{
                        content: "";
                        height: 4px;
                        width: 4px;
                        margin-right: 10px;
                        border-radius: 50%;
                        display: inline-block;
                        background-color: #6D6868;
                        transform: translateY(-3px);
                    }
                }
            }
        }
    }
    &-num{
        position: absolute ;
        top: 120px;
        left: 40px;
        & span{
            font-size: 160px;
            font-weight: 700;
            line-height: 1.3;
            text-transform: uppercase;
            color: var(--tp-common-px-black);
            font-family: var(--tp-ff-thunder);
            @media #{$xs} {
                font-size: 110px;
            }
            & i{
                position: absolute;
                top: 30%;
                left: 1%;
                font-weight: 600;
                font-size: 13px;
                line-height: 1;
                padding: 6px 12px;
                padding-bottom: 1px;
                font-style: normal;
                display: inline-block;
                letter-spacing: 0.34em;
                text-transform: uppercase;
                background-color: #f6f6f6;
                color: var(--tp-common-px-black);
            }
        }
    }
    &-bottom{
        padding: 10px 45px;
        border-top: 1px solid #1e1e1e;
        border-bottom: 1px solid #1e1e1e;
        &-text{
            & span{
                font-weight: 500;
                font-size: 12px;
                line-height: 1;
                text-transform: uppercase;
                color: var(--tp-common-px-black);
                &.text-2{
                    display: inline-block;
                    margin-left: -30px;
                }
            }
        }
    }
    &-content{
        position: relative;
        z-index: 2;
    }
}