@use '../../utils' as *;

/*----------------------------------------*/
/*  8.0 team css
/*----------------------------------------*/

.px-team{
    &-title{
        font-size: 20px;
        line-height: 1;
        font-weight: 600;
        margin-bottom: 0;
        letter-spacing: -0.03em;
        color: var(--tp-common-px-black);
    }
    &-item{
        &:hover{
            & .px-team-social-icon{
                & a{
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
            & .px-team-social-link{
                & svg{
                    transform: rotate(180deg);
                }
            }
        }
    }
    &-content{
        & span{
            font-weight: 400;
            font-size: 14px;
            line-height: 1;
        }
    }
    &-thumb{
        margin-bottom: 25px;
    }
    &-social{
        &-link,
        &-icon a{
            display: block;
            height: 46px;
            width: 45px;
            margin: 6px 0;
            line-height: 44px;
            text-align: center;
            border-radius: 50%;
            position: relative;
            color: var(--tp-common-px-black);
            background-color: var(--tp-common-px-white);
            &:hover{
                &::after{
                    opacity: 1;
                    visibility: visible;
                    transform: scale(1);
                }
            }
            &::after{
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                width: 100%;
                height: 100%;
                z-index: -1;
                opacity: 0;
                visibility: hidden;
                border-radius: 50%;
                transform: scale(0.3);
                transition: .5s ease-in-out;
                background-color: var(--tp-common-px-orange);
            }
        }
        &-icon{
            position: absolute;
            top: 15px;
            right: 20px;
            & > a{
                opacity: 0;
                visibility: hidden;
                transition: .2s ease-in-out;
                transform: translateY(-20px);
                &:nth-child(1) {
                   transition-delay: 0.1s;
                }
                &:nth-child(2) {
                   transition-delay: 0.2s;
                }
                &:nth-child(3) {
                   transition-delay: 0.3s;
                }
            }
        }
    }
    &-top{
        @media #{$xs} {
            margin-bottom: 40px;
        }
    }
    &-6{
        &-pt{
            padding-top: 330px;
            @media #{$lg,$md,$xs}{
                padding-top: 80px;
            }
        }
    }
}

.px-team-inner{
    &-ptb{
        @media #{$xl,$lg} {
            padding-top: 100px;
        }
        @media #{$xs} {
            padding-top: 60px;
        }
    }
}


.in-team{
    &-hero{
        &-area{
            @media #{$lg,$md,$xs} {
                padding-bottom: 50px;
            }
        }
        &-title{
            font-size: 200px;
            font-weight: 700;
            line-height: .8;
            text-transform: uppercase;
            color: var(--tp-common-px-black);
            font-family: var(--tp-ff-thunder);
            @media #{$xxl} {
                font-size: 185px;
            }
            @media #{$xl} {
                font-size: 140px;
            }
            @media #{$lg} {
                font-size: 135px;
            }
            @media #{$md} {
                font-size: 100px;
            }
            @media #{$xs} {
                font-size: 80px;
            }
            & span{
                color: var(--tp-common-px-orange);
            }
            & img{
                transform: translateY(-15px);
                @media #{$xs} {
                    display: none;
                }
            }
        }
        &-content{
            & p{
                font-size: 22px;
                font-weight: 500;
                padding-left: 490px;
                color: var(--tp-common-px-black);
                @media #{$xl} {
                    padding-left: 410px;
                }
                @media #{$lg,$md,$xs} {
                    padding-left: 0;
                }
                & br{
                    @media #{$xs} {
                        display: none;
                    }
                }
            }
        }
    }
}

.td-hero{
    &-area{
        @media #{$md,$xs} {
            padding-top: 140px;
        }
    }
    &-title{
        font-size: 100px;
        font-weight: 600;
        line-height: 1;
        color: var(--tp-common-px-black);
        font-family: var(--tp-ff-thunder);
        @media #{$lg} {
            font-size: 80px;
        }
        @media #{$md} {
            font-size: 70px;
        }
        @media #{$xs} {
            font-size: 55px;
        }
        & br{
            @media #{$xs} {
                display: none;
            }
        }
    }
}

.px-team-details{
    &-style{
        &.tp-team-details-area{
            @media #{$md,$xs} {
                padding-top: 60px;
            }
        }
        & .tp-team-details{
            &-wrapper{
                @media #{$xl,$lg} {
                    padding-left: 0;
                }
            }
        }
        & .tp-team-details-thumb img {
            border-radius: 0;
        }
        & .tp-team-details-text-title {
            font-size: 70px;
            font-weight: 600;
            line-height: 1;
            color: var(--tp-common-px-black);
            font-family: var(--tp-ff-thundermed);
        }
    }
}

.tp-team-details{
    &-thumb{
        & img{
            width: 100%;
            border-radius: 14px;
        }
    }
    &-info{
        @media #{$lg,$md,$xs} {
            flex-wrap: wrap;
        }
        &-contact{
            padding: 10px 0;
            border-top: 1px solid rgba(17, 16, 19, 0.10);
            border-bottom: 1px solid rgba(17, 16, 19, 0.10);
            @media #{$lg,$md,$xs} {
                margin-bottom: 20px;
            }
            & a{
                font-size: 14px;
                font-weight: 500;
                color: #111013;
                display: inline-block;
                letter-spacing: -0.28px;
                &:not(:last-of-type){
                    margin-right: 20px;
                    padding-right: 20px;
                    border-right: 1px solid rgba(17, 16, 19, 0.10);
                }
                & svg{
                    @extend %svg-2;
                    margin-right: 5px;
                }
            }
        }
        &-social{
            & .px-footer-widget-social{
                & a{
                    background-color: transparent;
                    color: var(--tp-common-px-black-2);
                    border: 1px solid rgba(17, 16, 19, 0.08);
                    &:hover{
                        color: var(--tp-common-px-white);
                        border-color: var(--tp-common-px-orange);
                        background-color: var(--tp-common-px-orange);
                    }
                }
            }
        }
    }

    &-wrap{
        @media #{$md,$xs} {
            margin-bottom: 30px;
        }
    }
    &-wrapper{
        padding-left: 70px;
        @media #{$lg} {
            padding-left: 50px;
        }
        @media #{$md,$xs} {
            padding-left: 0;
        }
    }
    &-text{
        margin-bottom: 30px;
        & p{
            color: #4D5051;
        }
        &-sub{
            color: #525356;
            font-size: 16px;
            font-weight: 400;
            display: inline-block;
        }
        &-title{
            color: #111013;
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 25px;
            letter-spacing: -0.8px;
        }
    }
    &-more{
        &-title{
            color: #111013;
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 18px;
            letter-spacing: -0.48px;
        }
        & ul{
            & li{
                list-style: none;
                color: #111013;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 12px;
                & span{
                    color: #525356;
                    font-size: 16px;
                    font-weight: 400;
                    min-width: 100px;
                    margin-right: 40px;
                    display: inline-block;
                }
            }
        }
    }
    &-progress{
        &-title{
            font-size: 16px;
            font-weight: 500;
            color: #111013;
        }
        &-inner{
            position: relative;
            width: 100%;
            height: 5px;
            background: #d9d9d9;
        }
        &-bar{
            overflow: visible;
            display: flex;
            height: 5px;
            text-align: center;
            white-space: nowrap;
            transition: 0.6s ease;
            position: relative;
            background-color: var(--tp-common-px-orange);
            &::before{
                position: absolute;
                content: "";
                height: 20px;
                width: 1px;
                right: 0px;
                top: -8px;
                margin: auto;
                background-color: var(--tp-common-px-orange);
            }
        }
        &-counter{
            margin-top: -29px;
            font-weight: 500;
            font-size: 14px;
            position: absolute;
            top: 0;
            right: -15px;
            text-transform: uppercase;
        }
    }
    &-input{
        &-content{
            & input,
            & textarea{
                border-radius: 6px;
                margin-bottom: 20px;
                background-color: #F8F8FB;
                color: var(--tp-common-px-black);
                border: 1px solid rgba(17, 16, 19, 0.08);
                &:focus{
                    background-color: transparent;
                    border-color: var(--tp-common-px-orange);
                    box-shadow: 0px 0px 0px 3px rgba(255, 87, 34, 0.10);
                }
                &::placeholder{
                    color: #848788;
                }
            }
            & textarea{
                resize: none;
                height: 160px;
            }
        }
        &-btn{
            & button{
                font-size: 16px;
                font-weight: 700;
                padding: 15px 35px;
                border-radius: 6px;
                letter-spacing: 0;
                border: 1px solid transparent;
                color: var(--tp-common-px-white);
                background-color: var(--tp-common-px-orange);
                &:hover{
                    color: var(--tp-common-px-black);
                    background-color: transparent;
                    border-color: var(--tp-common-px-orange);
                }
            }
        }
    }
}