@forward './hero';
@forward './about';
@forward './project';
@forward './service';
@forward './text-slider';
@forward './video';
@forward './testimonial';
@forward './funfact';
@forward './brand';
@forward './team';
@forward './step';
@forward './contact';
@forward './dark';