@use '../../utils' as *;
/*----------------------------------------*/
/*  4.1 dropdown scss
/*----------------------------------------*/
.tp-header{
    &-dropdown{
        & nav{
            & ul{
                & li{
                    position: relative;
                    list-style: none;
                    &.p-static{
                        position: static;
                    }
                    &.tp-menu-last{
                        & .tp-submenu{
                            left: auto;
                            right: 0;
                        }
                    }
                    &.has-dropdown{
                        & > a{
                            &::after {
                                content: "\f107";
                                font-size: 16px;
                                font-weight: 400;
                                margin-left: 5px;
                                display: inline-block;
                                color: var(--tp-common-px-black);
                                transition: all 0.3s 0s ease-out;
                                font-family: var(--tp-ff-fontawesome);   
                            }
                        }
                        &:hover > a {
                            &::after {
                                transform: rotate(-180deg);
                            }
                        }
                    }
                    & .tp-submenu{
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 240px;
                        z-index: 99;
                        opacity: 0;
                        padding: 12px 0;
                        transition: 0.5s;
                        text-align: start;
                        visibility: hidden;
                        border-radius: 14px;
                        transform-origin: 0 0;
                        transform: scale(1, 0);
                        backdrop-filter: blur(40px);
                        background: rgba(38, 37, 40, 0.9);
                        box-shadow: 0 20px 30px -8px rgba(19, 19, 22, 0.1);
                        & li{
                            width: 100%;
                            padding: 0 12px;
                            border-radius: 8px;
                            & a{
                                position: relative;
                                border-radius: 8px;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 1;
                                color: #bfbfc0;
                                padding: 12px 18px;
                                display: inline-block;
                                letter-spacing: -0.01em;
                                text-align: start;
                                width: 100%;
                                @media #{$x3l,$xxl,$xl}{
                                    font-size: 14px;
                                }
                            }
                            & .tp-submenu{
                                top: 0;
                                left: 100%;
                            }
                            &:hover{
                                & > a{
                                    background-color: #2c2b2e;
                                    color: var(--tp-common-px-white);
                                }
                            }
                        }
                        &.px-megamenu{
                            width: 480px;
                            padding: 30px 30px;
                        }
                    }
                    &:hover > {
                        & .tp-submenu{
                            visibility: visible;
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }
}

.dropdown-white-bg {
    & nav ul li .tp-submenu {
        background: rgba(255, 255, 255, 0.9);
    }
    & nav ul li .tp-submenu {
        & li{
            & a{
                color: #636368;
            }
            &:hover {
                & > a {
                    background-color: #F8F8FB;
                    color: var(--tp-common-px-black);
                }
            }
            &.menu-item-has-children{
                & > a{
                    &::after{
                        color: #636368;
                    }
                }
                &:hover{
                    & > a{
                        &::after{
                            color: var(--tp-common-px-black);
                        }
                    }
                }
            }
        }
    }
}
.px-megamenu{
    &-style{
        &.tp-header-dropdown nav ul li .tp-submenu.px-megamenu li {
            padding: 0;
        }
    }
    &-title{
        font-size: 20px;
        font-weight: 600;
        padding-left: 18px;
        color: var(--tp-common-px-black);
        &-wrap{
            display: block;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.08);
        }
    }
}
.dropdown-black-bg{
    & .px-megamenu{
        &-title{
            color: var(--tp-common-px-white);
            &-wrap{
                border-color: rgba($color: #fff, $alpha: 0.1);
            }
        }
    }
}