@use '../../utils' as *;
/*----------------------------------------*/
/*  4.3 offcanvas scss
/*----------------------------------------*/

$bg-duration: 0.7s;
$ease: cubic-bezier(.2, .8, .2, 1);

// OPEN delays
$left-delay: calc(#{$bg-duration} + 0.06s);
$menu-inner-delay: calc(#{$left-delay} + 0.2s);
$btn-box-delay: calc(#{$menu-inner-delay} + 0.15s);
$right-delay: calc(#{$btn-box-delay} + 0.2s);

// CLOSE delays (reverse order)
$right-close-delay: 0s;
$btn-box-close-delay: 0.2s;
$menu-inner-close-delay: 0.4s;
$left-close-delay: 0.6s;


// -------- tp-overlay --------//
.body-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: 0.45s ease-in-out;
    background: rgba(24, 24, 24, 0.4);
    &.opened {
        opacity: 1;
        visibility: visible;
    }
}
// -------- tp-overlay -------//


// -------- tp-offcanvas-1 -------//
.tp-offcanvas {
    &-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        width: 450px;
        height: 100vh;
        z-index: 999;
        padding: 50px 50px;
        overflow-y: scroll;
        transition: all .3s;
        background: #FFF;
        scrollbar-width: none;
        overscroll-behavior-y: contain;
        @include tp-transform(translateX(calc(100% + 80px)));
        @media #{$xs} {
            width: 100%;
        }
        @media #{$sm} {
            width: 450px;
        }
        & .logo-2{
            display: none;
        }
        &.offcanvas-black-bg{
            background: #1C1D20;
            & .logo-1{
                display: none;
            }
            & .logo-2{
                display: block !important;
            }
            & .tp-offcanvas-close-btn {
                color: var(--tp-common-px-white);
            }
            & .tp-offcanvas-menu ul li {
                & > a {
                color: var(--tp-common-px-white);
            }
            &.active{
                & > a{
                    color: var(--tp-common-red-3);
                }
            }
            }
            & .tp-offcanvas-menu .tp-submenu li a:hover {
                background-color: #2c2b2e;
                color: var(--tp-common-px-white);
            }
            & .tp-menu-close {
                & i{
                    color: var(--tp-common-px-white)
                }
            }
            & .tp-megamenu-wrapper.megamenu-black-bg {
                backdrop-filter: initial;
                background: transparent;
                box-shadow: none;
            }
            & .tp-offcanvas-title.sm {
                color: var(--tp-common-px-white);
            }
            & .tp-offcanvas-contact ul li a {
                color: rgba(255, 255, 255, 0.8);
                &:hover{
                    color: var(--tp-common-px-white);
                }
            }
            & .tp-offcanvas-contact ul li a::after {
                background-color: var(--tp-common-px-white);
            }
            & .tp-offcanvas-social ul li a {
                color: var(--tp-common-px-white);
                border: 1px solid rgba(255, 255, 255, 0.1);
                &:hover{
                    color: var(--tp-common-black);
                    border-color: var(--tp-common-px-white);
                    background-color: var(--tp-common-px-white)
                }
            }
            & .tp-offcanvas-title {
                color: var(--tp-common-px-white);
            }
            & .tp-offcanvas-content p {
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
    &-area{
        &.opened {
            & .tp-offcanvas-wrapper{
                @include tp-transform(translateX(0));
            }
        }
    }
    &-top {
        margin-bottom: 90px;
    }
    &-close {
        &-btn {
            color: rgba($color: #000, $alpha: 1);
            &:hover {
                opacity: 1;
                @include tp-transform(rotate(90deg));
            }
        }
    }
    &-content {
        margin-bottom: 45px;
        & p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #414144;
        }
    }
    &-title {
        font-size: 40px;
        line-height: 1;
        letter-spacing: -0.8px;
        font-weight: 700;
        margin-bottom: 15px;
        color: var(--tp-common-px-black);
        &.sm {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 15px;
            text-transform: uppercase;
            color: var(--tp-common-px-black);
        }
    }
    &-gallery {
        margin-bottom: 65px;
        &-img{
            & img{
                transition: .9s;
            }
            &:hover{
                & img{
                    transform: scale(1.2) rotate(-2deg);
                }
            }
        }
    }
    &-contact {
        margin-bottom: 55px;
        & ul {
            & li {
                list-style: none;
                &:not(:last-child) {
                    margin-bottom: 2px;
                }
                & a {
                    display: inline-block;
                    color: #414144;
                    font-size: 16px;
                    position: relative;
                    &::after{
                        position: absolute;
                        bottom: 2px;
                        right: 0;
                        width: 0;
                        height: 1px;
                        content: '';
                        transition: .4s;
                        background-color: #1e1e1e;
                    }
                    &:hover{
                        color: var(--tp-common-px-black);
                        &::after{
                            width: 100%;
                            right: auto;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
    &-social {
        & ul {
            @include flexbox();
            align-items: center;
            & li {
                list-style: none;
                &:not(:last-child) {
                    margin-right: 8px;
                }
                & a {
                    display: inline-block;
                    text-align: center;
                    width: 40px;
                    height: 40px;
                    line-height: 38px;
                    border-radius: 40px;
                    transition: all .3s;
                    color: var(--tp-common-px-black);
                    border: 1px solid rgba(2, 11, 24, 0.10);
                    &:hover {
                        background-color: var(--tp-common-px-black);
                        border-color: var(--tp-common-px-black);
                        color: var(--tp-common-px-white);
                    }
                    & svg {
                        @include tp-transform(translateY(-1px));
                    }
                }
            }
        }
    }
}
// -------- tp-offcanvas-1 -------//


// -------- px-offcanvas-2 -------//

.px-offcanvas-2{
    &-wrapper{
        padding: 155px 100px 0px;
        margin-bottom: 60px;
        @media #{$lg} {
            padding: 155px 30px 0px;
        }
        @media #{$md,$xs} {
            padding: 110px 30px 0px;
        }
        & .tp-offcanvas-menu {
            & > nav {
                & > ul {
                    & > li {
                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }
                        & > a{
                            font-size: 120px;
                            padding: 0;
                            line-height: .8;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            font-family: var(--tp-ff-thunder);
                            color: var(--tp-common-px-white);
                            @media #{$xl} {
                                font-size: 100px;
                            }
                            @media #{$lg,$md,$xs} {
                                font-size: 80px;
                            }
                            &::after{
                                content: none;
                            }
                        }
                        & .tp-menu-close{
                            & i{
                                font-size: 28px;
                                color: var(--tp-common-px-white);
                            }
                        }
                        & .submenu {
                            margin-bottom: 35px;
                            & > li{
                                & > a {
                                    font-size: 30px;
                                    font-weight: 600;
                                    line-height: 1;
                                    transition: 0.3s;
                                    color: #717172;
                                    letter-spacing: -0.02em;
                                    &:hover{
                                        background-color: initial;
                                        transform: translateX(15px);
                                        color: var(--tp-common-px-white);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &-left{
        opacity: 0;
        animation-delay: 1s;
        transform: translateY(20px);
        & .tp-offcanvas-menu {
            margin-bottom: 105px;
            @media #{$xxl,$xl} {
                margin-bottom: 65px;
            }
            @media #{$md,$xs} {
                margin-bottom: 0;
            }
            & ul{
                overflow: hidden;
                overflow-y: scroll;
                scrollbar-width: none;
                max-height: 510px;
                padding-top: 10px;
            }
        }
        &-btn{
            &-box{
                gap: 10px;
            }
            & .tp-btn-yellow-border.postbox-btn{
                border-radius: 12px;
                color: var(--tp-common-px-white);
                background-color: var(--tp-common-px-black-2);
                &.active{
                    background-color: var(--tp-common-px-red);
                }
            }
        }
    }
    &-social{
        &.tp-offcanvas-social {
            & ul {
                justify-content: end;
                & li {
                    & a{
                        line-height: 36px;
                        color: var(--tp-common-px-white);
                        background-color: var(--tp-common-px-black-2);
                        &:hover{
                            background-color: var(--tp-common-px-red);
                        }
                    }
                }
            }
        }
    }
    &-video{
        display: flex;
        justify-content: end;
        & .px-hero-video{
            width: 532px;
            height: 300px;
            border-radius: 16px;
        }
    }
}

.px-offcanvas-2-area.menu-open,
.px-offcanvas-2-area.menu-open-temp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: z-index 0s 2s;
}

.px-offcanvas-2-area {
  .offcanvas-bg {
    position: fixed;
    inset: 0;
    margin: 20px;
    border-radius: 20px;
    background: var(--tp-common-px-black);
    clip-path: circle(0% at calc(100% - 45px) 45px);
    transition: clip-path 0.7s ease-in-out;
    z-index: -1;
    @media #{$xs} {
        margin: 5px;
    }
  }
  &.menu-open {
    .offcanvas-bg {
      clip-path: circle(150% at calc(100% - 45px) 45px);
    }

    .offcanvas-menu {
      pointer-events: auto;
    }

    .px-offcanvas-2-left {
      opacity: 1;
      transform: translateY(0);
      transition-delay: $left-delay;

      .tp-offcanvas-menu {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.6s $ease, transform 0.6s $ease;
        transition-delay: $menu-inner-delay;
      }

      .px-offcanvas-2-left-btn-box {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.6s $ease, transform 0.6s $ease;
        transition-delay: $btn-box-delay;
      }
    }

    .px-offcanvas-2-right {
      opacity: 1;
      transform: translateY(0);
      transition-delay: $right-delay;
    }
  }
  &:not(.menu-open) {
    .offcanvas-menu {
      pointer-events: none;
    }

    .px-offcanvas-2-right {
      opacity: 0;
      transform: translateY(30px);
      transition-delay: $right-close-delay;
    }

    .px-offcanvas-2-left {
      transition-delay: $left-close-delay;
      opacity: 0;
      transform: translateY(30px);

      .tp-offcanvas-menu {
        opacity: 0;
        transform: translateY(20px);
        transition-delay: $menu-inner-close-delay;
      }

      .px-offcanvas-2-left-btn-box {
        opacity: 0;
        transform: translateY(20px);
        transition-delay: $btn-box-close-delay;
      }
    }

    .offcanvas-bg {
      clip-path: circle(0% at calc(100% - 45px) 45px);
      transition-delay: .4s;
    }
  }

  * {
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
  }

  .px-offcanvas-2-left,
  .px-offcanvas-2-right {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.7s $ease, transform 0.7s $ease;
  }

  .tp-offcanvas-menu,
  .px-offcanvas-2-left-btn-box {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s $ease, transform 0.6s $ease;
  }
}

.tp-hamburger-btn{
    &.active{
        background-color: var(--tp-common-px-black);
        & span{
            margin: 0 auto;
        &:nth-child(1) {
            transform: rotate(45deg) translate(3px, 2px);
        }
        &:nth-child(2) {
            transform: rotate(-45deg) translate(0px, 1px);
        }
        }
    }
    & span{
        transition: all .3s ease-in-out;
    }
}